

form
{
    margin: 0px;
}

body > form
{
    height: 100%;
}

img
{
    margin: 0px;
    border-style: none;
    width: 100%;
    max-width: 100%;
    height: auto;
}

button
{
    margin: 0px;
    border-style: none;
    padding: 0px;
    background-color: transparent;
    vertical-align: top;
}

table
{
    empty-cells: hide;
}

td
{
    padding: 0px;
}

.f-sp
{
    font-size: 1px;
    visibility: hidden;
}

.f-lp
{
    margin-bottom: 0px;
}

.f-fp
{
    margin-top: 0px;
}

#menu li.active
{
    background-color: rgba(106, 27, 154,0.4);
}

.col2
{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 320px;
    -moz-column-width: 320px;
    column-width: 320px;
}

.col3
{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
}

.columns
{
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    -moz-column-fill: balance;
    column-fill: auto;
}

.columns p:first-child
{
    margin-top: 0px;
}

.effect-lily
{
    background-color: #9c27b0;
}

.light, footer.page-footer .footer-copyright
{
    font-family: 'RobotoDraft', sans-serif;
    font-weight: 300;
}

.owl-theme .owl-dots .owl-dot span
{
    background-color: #e0e0e0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
{
    background-color: #9c27b0;
}

.slider .indicators .indicator-item.active
{
    background-color: #9c27b0;
}

.submit-btn
{
    color: #9e9e9e;
    text-transform: uppercase;
    font-variant: normal;
}

[hidden], template
{
    display: none;
}

a
{
    -webkit-tap-highlight-color: transparent;
}

a.button-collapse
{
    padding: 0px !important;
}

address
{
    font-style: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
{
    display: block;
}

audio, canvas, progress, video
{
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls])
{
    display: none;
    height: 0;
}

blockquote
{
    margin-top: 20px;
    margin-bottom: 20px;
}

body { color:#616161; font-family:'RobotoDraft', sans-serif; font-size:18px;font-size:1.8rem; line-height:1.5; font-weight:300; font-style:normal; margin:0 }

caption
{
    text-align: left;
}

cite
{
    text-transform: uppercase;
    font-variant: normal;
}

em
{
    font-style: italic;
}

h1 { font-family:'RobotoDraft', sans-serif; font-size:67px;font-size:6.7rem; margin-top:28px; margin-bottom:18px }

h1:first-child
{
    margin-top: 0px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    font-weight: inherit;
}

h1 ~ p, h2 ~ p, h3 ~ p
{
    margin-top: 0em;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: 400;
    line-height: 1.1;
    -webkit-column-span: all;
    column-span: all;
}

h2 { font-family:'RobotoDraft', sans-serif; font-size:28px;font-size:2.8rem; margin-top:14px; margin-bottom:22px }

h2:first-child
{
    margin-top: 0px;
}

h3 { font-family:'RobotoDraft', sans-serif; font-size:46px;font-size:4.6rem; margin-top:23px; margin-bottom:18px }

h3:first-child
{
    margin-top: 0px;
}

h4 { font-family:'RobotoDraft', sans-serif; font-size:36px;font-size:3.6rem; margin-top:18px; margin-bottom:14px }

h4:first-child
{
    margin-top: 0px;
}

h5 { font-family:'RobotoDraft', sans-serif; font-size:26px;font-size:2.6rem; margin-top:13px; margin-bottom:20px }

h5:first-child
{
    margin-top: 0px;
}

h6 { font-family:'RobotoDraft', sans-serif; font-size:16px;font-size:1.6rem; margin-top:8px; margin-bottom:4px }

h6:first-child
{
    margin-top: 0px;
}

hr
{
    border: none;
    border-top: 1px solid #ddd;
    margin: 30px 0;
}

html
{
    font-size: 10px;
}

input { font-size:18px; font-size: 1.8rem }

input[type=email]:focus:not([readonly])+label
{
    color: #9c27b0;
}

input[type=password]:focus:not([readonly])+label
{
    color: #9c27b0;
}

input[type=submit]
{
    color: #616161;
    text-transform: uppercase;
    font-variant: normal;
    background-color: #eee;
    line-height: 36px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    padding: 0 2rem;
    cursor: pointer;
}

input[type=text]:disabled+label, &[readonly="readonly"]+label
{
    color: #9c27b0;
}

input[type=text]:disabled, &[readonly="readonly"]
{
    border-bottom: 1px solid #9C27B0;
    box-shadow: 0 1px 0 0 #9C27B0;
}

input[type=text]:focus:not([readonly])
{
    border-bottom: 1px solid #9C27B0;
    box-shadow: 0 1px 0 0 #9C27B0;
}

input[type=text]:focus:not([readonly])+label
{
    color: #9c27b0;
}

label { color:#ab47bc; font-size:14px; font-size: 1.4rem }

p
{
    margin-top: 0px;
    margin-bottom: 20px;
}

small
{
    font-size: 75%;
}

strong
{
    font-weight: 500;
    text-decoration: none;
}

table.striped > tbody > tr:nth-child(odd)
{
    background-color: #f3e5f5;
}

td, th
{
    text-align: left;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

textarea.materialize-textarea { font-size:18px; font-size: 1.8rem }

textarea.materialize-textarea:focus:not([readonly])+label
{
    color: #9c27b0;
}

tfoot
{
    background-color: #eee;
    width: 100%;
}

ul
{
    margin: 0;
}

.menustyleGlobal { font-family:'RobotoDraft', sans-serif; font-size:16px; font-size: 1.6rem; text-align:center; text-transform:uppercase; font-weight:500 }

h1.display-4 { font-family:'RobotoDraft', sans-serif; font-size:89px;font-size:8.9rem; font-weight:900; font-style:inherit; line-height:1; letter-spacing:-.04rem }

h1:first-child
{
    margin-top: 0px;
}

.flow-text { font-size:26px;font-size:2.6rem }

h1.products { font-family:'RobotoDraft', sans-serif; font-size:36px;font-size:3.6rem; text-transform:uppercase; font-variant:normal; margin-left:20px; margin-top:20px; margin-bottom:0px; font-weight:700 }

h1:first-child
{
    margin-top: 0px;
}

.card-copy
{
    margin: 40px;
}

.fa-icons-mini { color:#8c9398; font-family:'FontAwesome', Symbol; font-size:20px; font-size:1.25em; text-align:center }

.lightenFonts
{
    color: #fafafa;
}

.justifyCenter
{
    text-align: center;
}

.alignCenter
{
    text-align: center;
}

.text-center
{
    text-align: center;
}

@media screen and (max-width:1435px)
{
    html
    {
        font-size: 9.25px;
    }
}

@media screen and (max-width:1200px)
{
    .columns
    {
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
    .columns p:first-child
    {
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
    .fwNavContainer1
    {
        width: 50%;
    }
    html
    {
        font-size: 8.25px;
    }
    p
    {
        margin-bottom: 10px;
    }
.menustyleGlobal { font-size:15px;font-size:1.5rem }
h1.display-4 { font-size:72px;font-size:7.2rem }
}

@media screen and (max-width:600px)
{
    .fwNavContainer1
    {
        width: 66.66%;
    }
    html
    {
        font-size: 7px;
    }
}

