

#headerNav
{
    background-color: #060a0c;
}

#section_Welcome
{
    background-color: #efefef;
}

#footer_test
{
    min-height: 100px;
    background-color: #3a3a3a;
}

#section-hero
{
    padding-top: 20vh;
    padding-bottom: 20vh;
}

