

/*************************************************************************************
TheGrid Framework - We prepend the tg for avoiding any collision with other frameworks!
**************************************************************************************/

/*** The Section Element ***/

.tg-sections
{
    padding: 80px 20px;
}

@media (max-width:1199px)
{
    .tg-sections
    {
        padding: 40px 10px;
    }
}

@media (max-width:599px)
{
    .tg-sections
    {
        padding: 20px 5px;
    }
}

.tg-sections:first-child
{
    padding: 20px 20px 10px;
}

@media (max-width:1199px)
{
    .tg-sections:first-child
    {
        padding: 10px 10px 5px;
    }
}

.tg-sections:last-child
{
    padding: 10px 20px 20px;
}

@media (max-width:1199px)
{
    .tg-sections:last-child
    {
        padding-left: 10px;
    }
}

/*** The Area - it'll define the page width for each single device ***/

.tg-page__width
{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1434px)
{
    .tg-page__width
    {
        width: 75%;
    }
}

@media (max-width:1199px)
{
    .tg-page__width
    {
        width: 85%;
    }
}

@media (max-width:899px)
{
    .tg-page__width
    {
        width: 90%;
    }
}

@media (max-width:599px)
{
    .tg-page__width
    {
        width: 95%;
    }
}

/*** The Module ***/

.tg-module
{
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width:1199px)
{
    .tg-module
    {
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width:599px)
{
    .tg-module
    {
        margin-right: -5px;
        margin-top: -5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*** The Grid ***/

.tg-grid
{
    padding-left: 20px;
    padding-right: 20px;
}

.tg-grid__12col
{
    width: 8.3333%;
    float: left;
}

.tg-grid__1col
{
    width: 100%;
    clear: both;
}

.tg-grid__2col
{
    width: 50%;
    float: left;
}

.tg-grid__3col
{
    width: 33.3333%;
    float: left;
}

@media (max-width:599px)
{
    .tg-grid__3col
    {
        width: 100%;
        clear: both;
        float: none;
    }
}

.tg-grid__4col
{
    width: 25%;
    float: left;
}

@media (max-width:1199px)
{
    .tg-grid__4col
    {
        width: 50%;
        float: left;
    }
}

@media (max-width:599px)
{
    .tg-grid__4col
    {
        width: 100%;
        float: none;
        clear: both;
    }
}

#section-welcome
{
    background-color: #f3f5f8;
}

#section-facts
{
}

#section-products
{
    padding-top: 80px;
    padding-bottom: 80px;
}

.tg-nav__item
{
    width: 25% /*Adjust to number of entries*/;
    float: left;
}

