body { color:#616161; font-family:'RobotoDraft', sans-serif; font-size:18px;font-size:1.8rem; line-height:1.5; font-weight:300; font-style:normal; margin:0; background-color:#fff; height:100% }
html { height:100% }
#PageDiv { position:relative; min-height:100% }
