

/*************************************************************************************
TheGrid Framework - We prepend the tg for avoiding any collision with other frameworks!
**************************************************************************************/

/* The Section Element*/

.tg-sections
{
    padding: 10px 20px;
}

@media (max-width:1199px)
{
    .tg-sections
    {
        padding: 5px 10px;
    }
}

.tg-sections:first-child
{
    padding: 20px 20px 10px;
}

@media (max-width:1199px)
{
    .tg-sections:first-child
    {
        padding: 10px 10px 5px;
    }
}

.tg-sections:last-child
{
    padding: 10px 20px 20px;
}

@media (max-width:1199px)
{
    .tg-sections:last-child
    {
        padding-left: 10px;
    }
}

/* The Area*/

.tg-page__width
{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

/* The Module*/

.tg-module
{
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* The Grid*/

.tg-grid
{
    padding-left: 20px;
    padding-right: 20px;
}

.tg-grid__12col
{
    width: 8.3333%;
    float: left;
}

.tg-grid__1col
{
    width: 100%;
    clear: both;
}

.tg-grid__2col
{
    width: 50%;
    float: left;
}

.tg-grid__3col
{
    width: 33.3333%;
    float: left;
}

@media (max-width:599px)
{
    .tg-grid__3col
    {
        width: 100%;
        clear: both;
        float: none;
    }
}

@media (max-width:1434px)
{
    .tg-page__width
    {
        width: 75%;
    }
}

@media (max-width:1199px)
{
    .tg-page__width
    {
        width: 85%;
    }
}

@media (max-width:899px)
{
    .tg-page__width
    {
        width: 90%;
    }
}

@media (max-width:599px)
{
    .tg-page__width
    {
        width: 95%;
    }
}

.tg-grid__4col
{
    width: 25%;
    float: left;
}

@media (max-width:1199px)
{
    .tg-grid__4col
    {
        width: 50%;
        float: left;
    }
}

@media (max-width:599px)
{
    .tg-grid__4col
    {
        width: 100%;
        float: none;
        clear: both;
    }
}

#section-welcome
{
    background-color: #f3f5f8;
    padding-top: 80px;
    padding-bottom: 80px;
}

#section-facts
{
    padding-top: 80px;
    padding-bottom: 80px;
}

#section-products
{
    padding-top: 80px;
    padding-bottom: 80px;
}

